<div class="jumbotron drop-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'logo.png', class: 'img-responsive', alt: 'InstaVision Logo' %>
      </div>
      <div class="col-md-8">
        <h1 class="display-3">About InstaVision</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          InstaVision is a simple website showcasing the power of image analysis provided by Cloud Vision from Google&reg;
        </p>
        <p>
          For further information please visit:
          <a href="https://cloud.google.com/vision/" target="_blank">Google Cloud Vision</a>
        </p>
      </div>
    </div>
  </div>
</div>
