<div class="jumbotron drop-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'logo.png', class: 'img-responsive', alt: 'InstaVision Logo' %>
      </div>
      <div class="col-md-8">
        <h1 class="display-3">Welcome to InstaVision!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Reveal the hidden secrets behind your pictures!</p>
        <p>Gathering information about your pictures has never been so easy before.</p>
        <p>Apply facial and landmark recognition powered by Google&reg;'s neural networks.</p>
      </div>
    </div>
  </div>
</div>
