<%= form_for setup_picture(picture), html: { role: 'form', multipart: true } do |form| %>
  <% if picture.errors.any? %>
    <div id="error-explanation">
      <h3><%= pluralize(picture.errors.count, 'error') %> prohibited this picture from being processed:</h3>
      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Enter name' %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Enter description' %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <div class="input-group">
      <label class="input-group-btn">
        <span class="btn btn-primary">
          Browse
          <%= form.file_field :image, class: 'form-control hidden' %>
        </span>
      </label>
      <input type="text" id="filename-container" class="form-control" readonly="readonly">
    </div>
  </div>
  <div class="actions">
    <%= link_to pictures_path, class: 'btn btn-lg btn-default pull-left' do %>
      <span class="glyphicon glyphicon-list"></span>&nbsp;Pictures
    <% end %>
    <%= form.submit 'Submit', class: 'btn btn-lg btn-primary pull-right' %>
  </div>
<% end %>

<script>
    $(document).on('change', ':file', function () {
        const label = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');

        $('#filename-container').val(label);
    });
</script>
