<div class="panel panel-default drop-shadow">
    <div class="panel-heading">
        <h1 class="text-primary">Editing picture <%= @picture.name %></h1>
    </div>
    <div class="panel-body">
        <%= render 'form', picture: @picture %>
    </div>
</div>
