<% grid_view = @options[:layout] == 'grid' %>
<div class="jumbotron drop-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'logo.png', class: 'img-responsive', alt: 'InstaVision Logo' %>
      </div>
      <div class="col-md-8">
        <h1 class="display-3">Pictures</h1>
        <p>
          Here you can view the list of all uploaded pictures.
          To see the result of facial recognition simply click on a picture and click on its right side (or simply
          click the right arrow button on the keyboard).
        </p>
        <p>
          If you wish to add a new one all you have to do is
          <%= link_to new_picture_path, class: 'btn btn-lg btn-primary' do %>
            Upload
          <% end %>
        </p>
        <p>
          <%= link_to url_for(action: :index, page: @options[:current_page], view: 'grid'),
                      class: "btn btn-lg#{grid_view ? ' btn-primary' : ' btn-default'}" do %>
            <span class="glyphicon glyphicon-th"></span>
          <% end %>
          <%= link_to url_for(action: :index, page: @options[:current_page], view: 'list'),
                      class: "btn btn-lg#{grid_view ? ' btn-default' : ' btn-primary'}" do %>
            <span class="glyphicon glyphicon-th-list"></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% pictures_in_group = grid_view ? 3 : 1 %>
  <% @pictures.in_groups_of(pictures_in_group, false) do |picture_group| %>
  <div class="row">
    <% picture_group.each do |picture| %>
      <div class="<%= grid_view ? 'col-md-4' : 'col-md-12' %>">
        <div class="thumbnail drop-shadow image-panel">
          <%= link_to picture.image.url,
                      data: {
                          lightbox: picture.id,
                          alt: picture.name,
                          title: picture.description
                      } do %>
            <%= image_tag picture.image.url(grid_view ? :medium : nil), class: 'panel-image' %>
            <div class="caption">
              <h3><%= picture.name %></h3>
              <p><%= picture.description %></p>
            </div>
          <% end %>
          <% if picture.processed_image.present? %>
          <%= link_to 'Processed picture', picture.processed_image.url,
                      data: {
                          lightbox: picture.id,
                          alt: "#{picture.name} (processed)",
                          title: 'Run through face recognition'
                      },
                      class: 'hidden'
          %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= paginate @pictures %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'lightbox' %>
