<div class="jumbotron drop-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'logo.png', class: 'img-responsive', alt: 'InstaVision Logo' %>
      </div>
      <div class="col-md-8">
        <h1 class="display-3">Picture upload</h1>
        <p>Here you can upload your pictures.</p>
        <p>They will be sent to Google Vision for analysis.</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default drop-shadow">
  <div class="panel-body">
    <%= render 'form', picture: @picture %>
  </div>
</div>
