<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-primary">Picture details for <%= @picture.name %></h3>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Description</th>
      <td><%= @picture.description %></td>
    </tr>
    <tr>
      <th>Filename</th>
      <td><%= @picture.image_file_name %></td>
    </tr>
    <tr>
      <th>Filesize</th>
      <td><%= @picture.image_file_size %></td>
    </tr>
  </table>
  <div class="panel-footer">
    <%= link_to edit_picture_path(@picture), class: 'btn btn-lg btn-default' do %>
      <span class="glyphicon glyphicon-wrench"></span>
    <% end %>
    <%= link_to picture_path(@picture), method: :delete, class: 'btn btn-lg btn-danger pull-right' do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </div>
</div>
