@import 'bootstrap_overrides';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'lightbox';

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  background-image: image-url('eye.png');
  background-repeat: no-repeat;
}

.drop-shadow {
  box-shadow: 0 0 5px 5px rgba(23,24,29,0.5);
  -webkit-box-shadow: 0 0 5px 5px rgba(23,24,29,0.5);
}

.image-panel {
  border-color: $border-color;
  transition: all 0.3s ease-in-out;
  color: $panel-default-text;

  &:hover {
    border-color: $brand-primary;
    box-shadow: 0 0 5px 5px rgba(28,168,221,0.6);
    -webkit-box-shadow: 0 0 5px 5px rgba(28,168,221,0.6);
  }

  .panel-image {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.field_with_errors {
  .form-control {
    border-color: $brand-danger;

    &:focus, &:active {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(231, 76, 60, 0.6);
    }
  }
}

#filename-container {
  background-color: $secondary-bg;
  border-color: $border-color;
  color: $off-white;
}

// override lightbox background
.lb-outerContainer {
  background-color: $body-bg;
}
