<nav class="navbar navbar-default drop-shadow">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed btn-primary" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar bar-primary"></span>
      <span class="icon-bar bar-primary"></span>
      <span class="icon-bar bar-primary"></span>
    </button>
    <%= link_to image_tag('logo.png', alt: 'InstaVision Logo'), root_path, class: 'navbar-brand' %>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(pictures_path) %>">
        <%= link_to 'Pictures', pictures_path %>
      </li>
      <li class="<%= 'active' if current_page?(about_path) %>">
        <%= link_to 'About', about_path %>
      </li>
    </ul>
  </div>
</nav>
