<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>InstaVision</title>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer drop-shadow">
      <div class="container-fluid">
        <p class="text-muted text-center copyright-notice">&copy;&nbsp<%= Time.current.year %>&nbsp;Krzysztof Karski</p>
      </div>
    </footer>
    <%= yield :javascript %>
  </body>
</html>
